@keyframes fadeOut {
    0% { opacity: 1; }
    10% { opacity: 0.9; }
    20% { opacity: 0.8; }
    30% { opacity: 0.7; }
    40% { opacity: 0.6; }
    50% { opacity: 0.5; }
    60% { opacity: 0.4; }
    70% { opacity: 0.3; }
    80% { opacity: 0.2; }
    90% { opacity: 0.1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0.1; }
    20% { opacity: 0.2; }
    30% { opacity: 0.3; }
    40% { opacity: 0.4; }
    50% { opacity: 0.5; }
    60% { opacity: 0.6; }
    70% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes expand-card {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes expand-card {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #EEF5DB;
}

/* Choose-player card */

.choose-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4F6367;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(10px + 3%);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #d3eaea;
    text-align: center;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
}

h1:hover {
    cursor: default;
}

.player-options {
    padding-top: calc(20px + 10%);
    width: 80%;
    display: flex;
    justify-content: space-between;
}

i {
    color: #d3eaea;
    transition: all 300ms ease-in-out;
}

i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

i:active {
    transform: scale(1.5);
}

.fade-out {
    animation: fadeOut 1.25s ease-in;
}

.hide {
    display: none;
}


/* Game Board */

.main-game {
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    height: 100vh;
    padding: 10px;
}

.tictactoe {
    color: #4F6367;
    font-size: 4vw;
}

.board-card {
    background-color: #B8D8D8;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 0 5%;
}

.gameboard {
    display: grid;
    grid-template: repeat(3, clamp(50px, 100px, 150px)) / repeat(3, clamp(50px, 100px, 150px));
    width: 100%;
}

.tile {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5vw;
    font-weight: bold;
    border-bottom: 3px solid #FE5F55;
    border-right: 3px solid #FE5F55;
    color:#4F6367;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.tile:hover,
.restart:hover {
    cursor: pointer;
}

.restart {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
    font-size: 1.5vw;
    padding: 8px 12px;
    background-color: #FE5F55;
    color: #EEF5DB;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.restart:active {
    background-color: #FE5F55;
    -webkit-box-shadow: inset 2px 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 2px 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 3px 8px rgba(0, 0, 0, 0.3);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #7A9E9F;
    gap: 5px;
}

a:hover {
    transform: scale(1.2);
}

.fa-github {
    color: #4F6367;
}


/* Winner's card */

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4F6367;
    padding: calc(10px + 3%);
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.win {
    color: #d3eaea;
    text-align: center;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
    z-index: 1;
    -webkit-animation: expand-card 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: expand-card 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}