*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  background-color: #EEF5DB;
}

/* Choose-player card */

.choose-player {
    background-color: #4F6367;
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

h1 {
    color: #d3eaea;
    text-align: center;
}

button {
    background: none;
    border: none;
    outline: none;
}

img {
    width: 50%;
}